@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
* {
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 700px;
  max-width: 700px;
  border-radius: 20px;
  box-shadow: -2px -2px 10px -2px black, -1px -1px 10px -2px black;
}

.leftSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  border-radius: 20px;
  background: linear-gradient(hsl(252, 100%, 67%) 50%, hsl(241, 81%, 54%) 100%);
}
.leftSide h1 {
  font-size: 50px;
  color: white;
  text-shadow: 2px 1px black;
}

.cricle {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 150px;
  background: linear-gradient(
    hsla(256, 72%, 46%, 1) 50%,
    hsla(241, 72%, 46%, 0) 100%
  );
  border-radius: 50%;
}

.leftSide .Great {
  color: white;
}

.leftSide p {
  text-align: center;
  color: rgb(187, 187, 187);
}

.rightSide {
  width: 50%;
  padding: 30px;
}
.rightSide h1 {
  font-size: 35px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  gap: 30px;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}
.rec {
  background-color: rgba(255, 99, 99, 0.2);
  font-size: 15px;
}
.mem {
  background-color: rgba(255, 163, 45, 0.2);
  font-size: 15px;
}
.ver {
  background-color: rgba(25, 164, 182, 0.2);
  font-size: 15px;
}
.vis {
  background-color: rgba(17, 49, 214, 0.2);
  font-size: 15px;
}
.same {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  margin-top: 50px;
  width: 100%;
  height: 40px;
  background-color: hsl(224, 30%, 27%);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  transition: all 1s ease;
}

button:hover {
  cursor: pointer;
  background-color: hsl(224, 30%, 38%);
}

@media (max-width: 768px) {

  .container {
    flex-direction: column;
    margin: 15px 20px;
  }
  .leftSide {
    width: 100%;
  }
  .rightSide {
    width: 100%;
  }
}
